<div class="ab" style="background-image: url(./assets/post-detail.png);" >
  <div class="card" style="width: 50%;" >
      <img src="{{ Blogs.url }}" class="card-img-top" alt="...">
      <div class="card-body" >
        <p class="card-text"><strong>Id: </strong>{{ Blogs.id}}</p>
        <p class="card-text"><strong>Title: </strong> {{ Blogs.title }}</p>
        <p class="card-text"><strong>Content: </strong> {{ Blogs.content }}</p>
        <p class="card-text"><strong>Author: </strong> {{ Blogs.author }}</p>
        <p class="card-text"><strong>Date </strong> {{ Blogs.date}}</p>
      <p class="card-text"><strong>Tags </strong> {{ Blogs.tags }}</p>
        <a routerLink='/posts' class="btn btn-outline-success">Go Back</a>
      </div>
    </div>
    </div>