
.blog-post-form {
    width: 50%; 
    margin: auto;
}

.blog-post-form {
    width: 40%; 
    margin: auto;
    border: 1px solid black; 
    padding: 20px; 
    background-color: lightgray;
}



.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
input[type="date"],
textarea {
    width: calc(60% - 10px); 
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 8px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.form-actions {
    margin-top: 20px;
}
