<footer class="bg-light text-center text-white" style="background-color: lightblue">
    <div style="background-color: lightblue" >
    <div class="container p-4 pb-0" >
    <section class="mb-4">
    <a class="btn btn-outline-dark btn-floating m-1" style="color:black" href="https://facebook.com" target="_blank" role="button">
    <i class="fab fa-facebook-f"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" style="color:black"  href="https://twitter.com" target="_blank" role="button">
    <i class="fab fa-twitter"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" style="color:black"  href="https://google.com" target="_blank" role="button">
    <i class="fab fa-google"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" style="color:black"  href="https://instagram.com" target="_blank" role="button">
    <i class="fab fa-instagram"></i>
    </a>
     
                <a class="btn btn-outline-dark btn-floating m-1" style="color:black"  href="https://linkedin.com" target="_blank" role="button">
    <i class="fab fa-linkedin"></i>
    </a>
    </section>
    </div>
    
     
        <div class="text-center p-3" style="background-color: lightblue">
    <span style="color: black;"> © 2024  EmpowerQuest.com. Proprietary Rights Belongs To The Owner</span>
    </div>
</div>
    </footer>